<div class="container-fluid overlay">
	<div class=" row form">
		<div class=" col field">
			<label >Email</label>
			<input type="text" class="form-control">

			<label >Password</label>
			<input [type]="showPassword? 'text' :'password' " class="form-control">
			<i class="bi bi-eye mx-2" *ngIf="!showPassword" (click)="showMyPassword()"></i>
			<i class="bi bi-eye-slash mx-2" *ngIf="showPassword"  (click)="showMyPassword()"></i>
      
			<button class="btn btn-success mt-4 form-control" >sign-in</button>
		</div>
	</div>
</div>

